<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="about">
        <div class="container">
          <div class="title">
            <h2>關於中心</h2>
            <h4>ABOUT US</h4>
          </div>
          <div class="content min-h-[600px]">
            內容
          </div>
        </div>
      </section>
      <section class="about-list" id="about-list" class="pt-0">
        <div class="container">
          <div class="category">
            <ul>
              <li data-filter="1">建立健康大數據分析之跨領域交流平台</li>
              <li data-filter="2">推動健康大數據分析之相關產學合作</li>
              <li data-filter="3">進行健康大數據分析之相關學術與實務研究</li>
              <li data-filter="4">提供健康大數據分析之教育訓練及人才培育</li>
            </ul>
          </div>
          <div class="main">
            <div data-filter="1">1</div>
            <div data-filter="2">2</div>
            <div data-filter="3">3</div>
            <div data-filter="4">4</div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>