<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="member-detail">
        <div class="container">
          <div class="title">
            <h2>中心成員/細節</h2>
            <h4>Member</h4>
          </div>
          <div class="content">
            <div class="left">
              <div class="img"><img src="https://via.placeholder.com/600x600" alt=""></div>
            </div>
            <div class="right">
              <div class="main">
                <div class="c-name">徐之昇</div>
                <div class="e-name">Jason C. Hsu</div>
                <div class="title">副教授</div>
                <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
              </div>
              <div class="more">
                徐之昇博士是醫學領域之真實世界數據(RWD)與真實世界證據(RWE)的專家。他現任臺北醫學大學管理學院國際生技醫療管理博士學位學程的副教授，同時擔任多個與數據相關的領導職位，包括臺北醫學大學臨床數據中心主任、管理學院健康產業數據加值研究中心主任、臺北醫學大學附設醫院臨床大數據研究中心主任，以及國際觀察性健康數據科學與資訊學聯盟(OHDSI)臺灣分會的領導者。他曾在美國哈佛大學醫學院接受訓練，並領導過多項大型RWD/RWE專案。徐博士的目標是通過全球RWD/RWE合作，提升數位醫藥、精準治療和生技醫療管理的品質。
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>