<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="member-list">
        <div class="container">
          <div class="title">
            <h2>中心成員</h2>
            <h4>Member</h4>
          </div>
          <div class="content">
            <div class="category">
              <div class="category-title">分類</div>
              <ul>
                <li>全部</li>
                <li>教授</li>
                <li>組員</li>
                <li>其他</li>
              </ul>
            </div>
            <div class="main">
              <div class="header">
                <div class="current">全部</div>
              </div>
              <div class="body">
                <div class="cards">

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                  <a href="member_detail.html" class="card">
                    <div class="img">
                      <img src="https://via.placeholder.com/600x600" alt="">
                    </div>
                    <div class="info">
                      <div class="name">一二三四五六七八九十</div>
                      <div class="title">一二三四五六七八九十一二三四五六七八九十</div>
                      <div class="phone"><i data-lucide="phone"></i>0999-999-999#9999</div>
                      <div class="email"><i data-lucide="mail"></i>xxxxxxxxx@gmail.com</div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>