<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="seminars">
        <div class="container">
          <div class="title">
            <h2>專案計畫</h2>
            <h4>Projects</h4>
          </div>
          <div class="content">
            <div class="timeline-block">
              <h3>執行中</h3>
              <div class="timeline-wrap">
                <div class="year">NOW</div>
                <ul class="timeline">
                  <li class="timeline-item">
                    <a href="#" class="url">
                      <div class="date">2023-01-01</div>
                      <div class="name">100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)</div>
                    </a>
                  </li>
                  <li class="timeline-item">
                    <a href="#">
                      <div class="date">2023-01-01</div>
                      <div class="name">100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)</div>
                    </a>
                  </li>
                  <li class="timeline-item">
                    <a href="#">
                      <div class="date">2023-01-01</div>
                      <div class="name">100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)</div>
                    </a>
                  </li>
                  <li class="timeline-item">
                    <a href="#">
                      <div class="date">2023-01-01</div>
                      <div class="name">
                        100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編
                      </div>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="timeline-block">
              <h3>已結案計畫</h3>
              <div class="timeline-wrap">
                <div class="year">2024</div>
                <ul class="timeline">
                  <li class="timeline-item">
                    <a href="#">
                      <div class="date">2024/01/01 - 2024/12/31</div>
                      <div class="name">100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)</div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="timeline-wrap">
                <div class="year">2023</div>
                <ul class="timeline">
                  <li class="timeline-item">
                    <a href="#">
                      <div class="date">2024/01/01 - 2024/12/31</div>
                      <div class="name">
                        100年度藥品藥理治療分類代碼編訂計畫(99TFDA-P-098)度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編度藥品藥理治療分類代碼編
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>