<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Project</title>
</head>

<body>
    <%= htmlWebpackPlugin.options.header %>
        <main>
            <section class="top">
                <div class="container">
                    <div class="w-full swiper" id="top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide news-card">
                                <div class="news-title">
                                    <div class="text">2023年終尾牙暨望年會</div>
                                    <img src="https://picsum.photos/600/400?random=4"></img>
                                </div>
                            </div>
                            <div class="swiper-slide news-card">
                                <div class="news-title">
                                    <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                                    <img src="https://picsum.photos/600/400?random=5"></img>
                                </div>
                            </div>
                            <div class="swiper-slide news-card">
                                <div class="news-title">
                                    <div class="text">2023年終尾牙暨望年會</div>
                                    <img src="https://picsum.photos/600/400?random=6"></img>
                                </div>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container">
                    <div class="title">
                        <h2>關於研究中心</h2>
                        <h4>ABOUT US</h4>
                    </div>
                    <div class="content">
                        sadasd
                    </div>
                </div>
            </section>
            <section class="news">
                <div class="container title flex justify-between items-center">
                    <div class="">
                        <h2>最新消息</h2>
                        <h4>News</h4>
                    </div>
                    <div class="">
                        <button class="primary">See more<i data-lucide="arrow-right"></i></button>
                    </div>
                </div>
                <div class="!mx-[-10px]">
                    <div class="content">
                        <div class="w-full swiper" id="news">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide news-card">
                                    <div class="news-title">
                                        <div class="date">2024/01/04</div>
                                        <div class="text">2023年終尾牙暨望年會</div>
                                        <img src="https://picsum.photos/600/400?random=1"></img>
                                    </div>
                                </div>
                                <div class="swiper-slide news-card">
                                    <div class="news-title">
                                        <div class="date">2024/01/04</div>
                                        <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                                        <img src="https://picsum.photos/600/400?random=2"></img>
                                    </div>
                                </div>
                                <div class="swiper-slide news-card">
                                    <div class="news-title">
                                        <div class="date">2024/01/04</div>
                                        <div class="text">2023年終尾牙暨望年會</div>
                                        <img src="https://picsum.photos/600/400?random=3"></img>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.footer %>
</body>

</html>