<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Project</title>
</head>

<body>
    <%= htmlWebpackPlugin.options.header %>
        <main>
            <section class="top" data-aos="fade-up" data-aos-delay="700">
                <div class="container">
                    <div class="w-full swiper" id="top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="news_detail.html">
                                    <div class="news-card">
                                        <div class="news-title">
                                            <div class="text">2023年終尾牙暨望年會</div>
                                        </div>
                                        <img src="https://picsum.photos/600/400?random=4"></img>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="news_detail.html">
                                    <div class="news-card">
                                        <div class="news-title">
                                            <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                                        </div>
                                        <img src="https://picsum.photos/600/400?random=5"></img>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="news_detail.html">
                                    <div class="news-card">
                                        <div class="news-title">
                                            <div class="text">2023年終尾牙暨望年會</div>
                                        </div>
                                        <img src="https://picsum.photos/600/400?random=6"></img>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination custom"></div>
                    </div>
                </div>
            </section>
            <section class="about" data-aos="fade-up" data-aos-delay="900">
                <div class="container">
                    <div class="title">
                        <h2>關於研究中心</h2>
                        <h4>ABOUT US</h4>
                    </div>
                    <div class="content">
                        <a href="about.html?tab=1" class="card" data-aos="fade-up" data-aos-duration="400">
                            <div class="image"><img src="https://placehold.co/300x300" alt=""></div>
                            <div class="title">建立健康大數據分析之跨領域交流平台</div>
                            <div class="sub-title">Create a multidisciplinary communication platform for the analysis of
                                health big data</div>
                        </a>
                        <a href="about.html?tab=2" class="card" data-aos="fade-up" data-aos-duration="600">
                            <div class="image"><img src="https://placehold.co/300x300" alt=""></div>
                            <div class="title">推動健康大數據分析之相關產學合作</div>
                            <div class="sub-title">Foster industry-academia collaboration initiatives pertaining to
                                health big data analysis.</div>
                        </a>
                        <a href="about.html?tab=3" class="card" data-aos="fade-up" data-aos-duration="800">
                            <div class="image"><img src="https://placehold.co/300x300" alt=""></div>
                            <div class="title">進行健康大數據分析之相關學術與實務研究</div>
                            <div class="sub-title">Undertake pertinent academic and applied research in the domain of
                                health big data analysis.</div>
                        </a>
                        <a href="about.html?tab=4" class="card" data-aos="fade-up" data-aos-duration="1000">
                            <div class="image"><img src="https://placehold.co/300x300" alt=""></div>
                            <div class="title">提供健康大數據分析之教育訓練及人才培育</div>
                            <div class="sub-title">Offer education, training, and talent development programs in the
                                field of health big data analysis.</div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="news" data-aos="fade-up">
                <div class="container title flex justify-between items-center">
                    <div>
                        <h2>最新消息</h2>
                        <h4>News</h4>
                    </div>
                    <div class="">
                        <a href="#">
                            <button class="primary">更多消息<i data-lucide="arrow-right"></i></button>
                        </a>
                    </div>
                </div>
                <div class="!mx-[-10px]">
                    <div class="content">
                        <div class="w-full swiper" id="news">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023年終尾牙暨望年會</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=4"></img>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=5"></img>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023年終尾牙暨望年會</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=6"></img>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023年終尾牙暨望年會</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=4"></img>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=5"></img>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="news_detail.html">
                                        <div class="news-card">
                                            <div class="news-title">
                                                <div class="text">2023年終尾牙暨望年會</div>
                                            </div>
                                            <img src="https://picsum.photos/600/400?random=6"></img>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="swiper-pagination custom"></div>
                    </div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.footer %>
</body>

</html>