<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="news-detail">
        <div class="container">
          <div class="title">
            <a href="news.html" class="back"><i data-lucide="arrow-left"></i>返回最新消息</a>
            <h2>2023 OHDSI Global Symposium (New Jersey, USA)</h2>
            <div class="sub-info">
              <div class="date">2023-01-01</div>
              <div class="tag">活動資訊</div>
            </div>
          </div>
          <div class="banner"><img src="https://picsum.photos/1200/400?random=6"></img></div>
          <div class="content">
            內容
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>