.news-card {
  height: 500px;
  background-color: var(--primary-color);
  border-radius: var(--primary-rounded);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  --animation-duration: 2s;
  @media screen and (min-width: 768px) {
    --animation-duration: 3s;
  }
  cursor: pointer;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all var(--animation-duration) 0.5s ease;
  }
  .news-title {
    padding: 20px;
    margin-top: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: white;
    .date {
      display: flex;
      align-items: center;
      letter-spacing: 0.2rem;
      &::before {
        content: '';
        width: 4px;
        height: 100%;
        display: inline-block;
        margin-right: 4px;
        background-color: var(--primary-color);
      }
    }
    .text {
      font-size: 24px;
      font-weight: 700;
      position: relative;
      z-index: 2;
      transition: all 0.5s 0.5s ease;
      padding-left: 8px;
      &::before {
        content: '';
        transform: scaleX(0);
        transform-origin: bottom right;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: var(--primary-color);
        z-index: -1;
        transition: transform 2s 0.5s ease;
      }
    }
  }
}
.swiper-slide-active .news-card {
  img {
    transform: scale(1.2);
  }
  .news-title {
    .text {
      color: var(--dark-1-color);
      &::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

section.news {
  .content {
    @media screen and (max-width: 767px) {
      padding: 0px 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: calc(50vw - 600px + 10px);
    }
  }
}
section.news-list {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    line-height: 40px;
    font-weight: 700;
    .category {
      width: 100%;
      background-color:var(--dark-4-color);
      .category-title {
        background-color: var(--primary-color);
        text-align: center;
        font-size: 20px;
      }
      li {
        font-size: 16px;
        text-align: center;
        position: relative;
        cursor: pointer;
        & + li {
          border-top: 1px solid var(--primary-color);
        }
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 6px;
          transition: all .2s linear;
          background-color:transparent;
        }
        &.active,&:hover{
          &::before{
            background-color: var(--primary-color);
          }
        }
      }
      @media screen and (min-width: 768px) {
        width: 200px;
      }
    }
    .main {
      @media screen and (min-width: 768px) {
        width: calc(100% - 200px - 20px);
        margin-left: 20px;
      }
      @media screen and (max-width: 767px) {
        margin-top: 20px;
        width: 100%;
      }
      .header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .current {
          font-size: 20px;
          font-weight: 700;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        .search {
          display: flex;
          flex: 1 1 auto;
          height: 40px;
          @media screen and (min-width: 768px) {
            max-width: 600px;
          }
          input {
            background-color: var(--dark-4-color);
            margin-right: 10px;
            border-radius: var(--primary-rounded);
            flex: 1 1 auto;
            padding: 0px 10px;
            font-size: 16px;
            font-weight: 700;
            &::placeholder {
              color: var(--dark-3-color);
            }
          }
          button+button{
            margin-left: 4px;
          }
          button.gray{
            padding: 10px;
          }
        }
      }
      .body {
        margin-top: 20px;
        width: 100%;
        .list-header {
          display: flex;
          align-items: center;
          background-color: var(--dark-4-color);
          font-weight: 700;
          line-height: 40px;
          font-size: 20px;
        }
        .t,
        .c,
        .d {
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          --c-w: 140px;
          --d-w: 140px;
          padding: 0px 10px;
        }
        .t {
          width: calc(100% - var(--d-w));
          @media screen and (min-width: 768px) {
            width: calc(100% - var(--c-w) - var(--d-w));
          }
        }
        .c {
          width: var(--c-w);
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        .d {
          width: var(--d-w);
        }
        .list-body {
          .item {
            display: flex;
            line-height: 40px;
            position: relative;
            &::before{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 6px;
              transition: all .2s linear;
              background-color:transparent;
            }
            &.active,&:hover{
              &::before{
                background-color: var(--primary-color);
              }
            }
            .t {
              text-align: left;
              font-weight: 700;
            }
            & + .item {
              border-top: 1px solid var(--dark-4-color);
            }
          }
        }
      }
    }
  }
}

section.news-detail {
  h2 {
    @media screen and (max-width: 767px) {
      font-size: 28px;
      line-height: 30px;
    }
  }
  .banner {
    width: 100%;
    border-radius: var(--primary-rounded);
    overflow: hidden;
    aspect-ratio: 1200/400;
    img {
      width: 100%;
    }
  }
  .content {
    margin: 20px 0px;
  }
}
