.news-card {
  height: 400px;
  background-color: var(--primary-color);
  border-radius: var(--primary-rounded);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .news-title {
    padding: 20px;
    margin-top: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: white;
    .date {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        width: 4px;
        height: 100%;
        display: inline-block;
        margin-right: 4px;
        background-color: var(--primary-color);
      }
    }
    .text {
      font-size: 24px;
      font-weight: 700;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
