<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="news">
        <div class="container">
          <div class="title">
            <h2>最新消息</h2>
            <h4>News</h4>
          </div>
        </div>
        <div class="!mx-[-10px]">
          <div class="content">
            <div class="w-full swiper" id="news">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023年終尾牙暨望年會</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=4"></img>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=5"></img>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023年終尾牙暨望年會</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=6"></img>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023年終尾牙暨望年會</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=4"></img>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023 OHDSI Global Symposium (New Jersey, USA)</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=5"></img>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="news_detail.html">
                    <div class="news-card">
                      <div class="news-title">
                        <div class="text">2023年終尾牙暨望年會</div>
                      </div>
                      <img src="https://picsum.photos/600/400?random=6"></img>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="swiper-pagination custom"></div>
          </div>
        </div>
      </section>
      <div id="main" class="mt-[-30px] mb-[30px]"></div>
      <section class="news-list pt-0">
        <div class="container">
          <div class="category">
            <div class="category-title">分類</div>
            <ul>
              <li data-filter="*">全部分類</li>
              <li data-filter="活動">活動</li>
              <li data-filter="演討會">演討會</li>
              <li data-filter="發表">發表</li>
              <li data-filter="其他">其他</li>
            </ul>
          </div>
          <div class="main">
            <div class="header">
              <div class="current">全部訊息</div>
              <div class="search" id="search">
                <input type="text" placeholder="搜尋">
                <button class="gray hidden" id="clear"><i data-lucide="x"></i></button>
                <button class="primary" id="submit"><i data-lucide="search"></i>搜尋</button>
              </div>
            </div>
            <div class="body">
              <div class="list-header">
                <div class="t">標題</div>
                <div class="c">分類</div>
                <div class="d">日期</div>
              </div>
              <div class="list-body">
                <a href="news_detail.html" class="item">
                  <div class="t">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit
                  </div>
                  <div class="c">一二三四五六七八</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
                <a href="news_detail.html" class="item">
                  <div class="t">標題</div>
                  <div class="c">分類</div>
                  <div class="d">2024/10/06</div>
                </a>
              </div>
            </div>
            <div class="footer"></div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>