<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Project</title>
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
    <main>
      <section class="links">
        <div class="container">
          <div class="title">
            <h2>網站連結</h2>
            <h4>Links</h4>
          </div>
          <div class="content">
            <div class="category">
              <div class="category-title">分類</div>
              <ul>
                <li data-filter="*">全部分類</li>
                <li data-filter="活動">活動</li>
                <li data-filter="演討會">演討會</li>
                <li data-filter="發表">發表</li>
                <li data-filter="其他">其他</li>
              </ul>
            </div>
            <div class="main">
              <div class="list-header">
                <div class="t">連結</div>
                <div class="c">分類</div>
              </div>
              <div class="list-body">
                <a href="#" class="item">
                  <div class="t">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.Lorem
                    ipsum, dolor sit amet consectetur adipisicing elit
                  </div>
                  <div class="c">一二三四五六七八</div>
                </a>
                <a href="#" class="item">
                  <div class="t">Lorem ipsum, dolor sit amet</div>
                  <div class="c">分類</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>