button {
  &.primary {
    background-color: var(--primary-color);
  }
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  svg {
    margin-left: 4px;
  }
}
