button {
  &.primary {
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
  &.gray {
    background-color: var(--dark-4-color);
    &:hover {
      background-color:var(--dark-3-color);
      color: white;
    }
  }
  transition: all 0.3s linear;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  svg{
    margin: 0px 4px ;
  }
}
