header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s linear;
  background-color: white;

  // 手机版样式 (小于 768px)
  .container {
    display: flex;
    align-items: center;

    .logo {
      margin-right: auto;
      img {
        width: 150px;
        height: 40px;
        object-fit: cover;
      }
    }

    .menu {
      display: none; // 手机版默认隐藏菜单
    }

    .hb {
      --hb-size: 24px;
      --hb-line-height: 2px;
      width: var(--hb-size);
      height: var(--hb-size);
      position: relative;
      transition: 0.5s ease-in-out;

      span {
        display: block;
        position: absolute;
        height: var(--hb-line-height);
        width: 100%;
        background: var(--dark-1-color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transition: 0.25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: calc(var(--hb-size) / 2 - var(--hb-line-height) / 2);
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: calc(var(--hb-size) - var(--hb-line-height));
        transform-origin: left center;
      }
    }
  }

  // 开启菜单时的样式
  #menuHandler:checked ~ .container {
    .hb {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;

      span:nth-child(1) {
        transform: rotate(45deg);
        top: calc(var(--hb-size) / 2 - var(--hb-line-height) / 2);
        transform-origin: center center;
      }

      span:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        top: calc(var(--hb-size) / 2 - var(--hb-line-height) / 2);
        transform-origin: center center;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 999;
      background-color: #fff;
      font-size: 24px;

      li {
        margin: 10px 0;
        font-weight: 700;
        color: var(--dark-1-color);
      }
    }
  }

  // 电脑版样式 (大于等于 768px)
  @media screen and (min-width: 768px) {
    top: -200px;
    &.is-sticky {
      background-color: var(--primary-color);
      backdrop-filter: blur(5px);
      animation: fadeInDown 1s both;
      top: 0px;
      .container {
        flex-direction: row;
        .logo {
          margin: unset;
          margin-right: auto;
          img {
            width: 150px !important;
            height: 40px !important;
          }
        }
        .menu {
          li {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }

    .container {
      flex-direction: column;
      align-items: center;
      .logo {
        margin: 40px auto 20px auto;
        img {
          width: 300px;
          height: 80px;
        }
      }
      .menu {
        display: flex; // 电脑版显示菜单

        li {
          margin: 0 10px;
          padding: 2px;
          font-size: 16px;
          font-weight: 700;
          color: var(--dark-3-color);
          cursor: pointer;
          transition: color 0.3s linear;
          line-height: 16px;
          span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
          }

          &:hover,
          &.active {
            color: var(--dark-1-color);
          }
        }
      }

      .hb {
        display: none; // 电脑版隐藏 hamburger 菜单
      }
    }
  }
}

// 动画效果
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
