@import './reset.css';
@import './header.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button.scss';
// * {
//   outline: 1px solid red;
// }
:root {
  --primary-color: #c1dcdc;
  --primary-hover-color: #84b8b8;
  --dark-1-color: #1e1e1e;
  --dark-2-color: #535353;
  --dark-3-color: #737272;
  --dark-4-color: #f8f8f8;

  //rounded
  --primary-rounded: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-1-color);
}
h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-2-color);
}
h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-3-color);
}
p {
  font-size: 18px;
}
section {
  padding: 60px 0px;
  > .title,
  .container > .title {
    margin-bottom: 30px;
  }
  .container > .title {
    > .back {
      color: var(--dark-3-color);
      display: flex;
      align-items: center;
      transition: all 0.3s linear;
      line-height: 24px;
      margin-bottom: 10px;
      svg {
        margin-right: 10px;
      }
      &:hover {
        color: var(--dark-1-color);
      }
    }
    > .sub-info{
      margin-top: 10px;
      color: var(--dark-1-color);
      display: flex;
      align-items: center;
      div+div{
        margin-left: 10px;
      }
      .date{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
      }
      .tag{
        background-color: var(--primary-color);
        border-radius: var(--primary-rounded);
        padding: 0px var(--primary-rounded);
        line-height: 30px;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  footer {
    margin-top: auto;
    padding: 60px 0px;
    background-color: var(--primary-color);
    .container {
      display: flex;
      flex-wrap: wrap;
      .left {
        width: 100%;
        .icon {
          display: flex;
          flex-direction: column;
          a {
            width: 80%;
            margin: auto;
            img {
              width: 100%;
            }
            & + a {
              margin-top: 10px;
            }
          }
        }
        .info {
          color: var(--dark-2-color);
          margin: 10px 0px;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
        }
        .contact{
          color: var(--dark-3-color);
          margin: 10px 0px;
          li{
            display: flex;
            align-items: center;
            --fz:14px;
            font-size: var(--fz);
            svg{
              width: var(--fz);
              height: var(--fz);
              margin-right: 4px;
            }
          }
        }
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        .social {
          display: flex;
          li{
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid var(--dark-2-color);
            transition: all 0.3s linear;
            svg{
              color: var(--dark-2-color);
            }
            &:hover{
              background-color: var(--dark-2-color);
              border-color: var(--dark-2-color);
              svg{
                color: var(--primary-color)
              }
            }
          }
          li + li {
            margin-left: 10px;
          }
        }
      }
      @media screen and (min-width: 768px) {
        .left {
          width: 66.6666%;
          .icon {
            display: flex;
            flex-direction: row;
            a {
              width: 33.3333%;
              & + a {
                margin-top: 0px;
                margin-left: 10px;
              }
            }
          }
        }
        .right {
          width: 33.3333%;
          justify-content: flex-end;
        }
      }
      .copyright {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
        color: var(--dark-3-color);
      }
    }
  }
}

//swiper
.swiper-pagination.custom {
  top: 0 !important;
  bottom: 0 !important;
  position: relative;
  height: 20px;
  .swiper-pagination-bullet {
    background-color: var(--dark-3-color);
    width: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    &.swiper-pagination-bullet-active {
      background-color: var(--primary-color);
      opacity: 1;
      width: 30px;
    }
  }
}


.ckeditor{
  font-family: inherit; /* 保留字体样式 */
  font-size: inherit; /* 保留字体大小 */
  line-height: 1.5; /* 设置行高 */
  word-wrap: break-word; /* 避免单词超出容器宽度 */
  word-break: break-word; /* 强制单词换行 */
  white-space: normal; /* 防止文本溢出 */
  > *{
      word-wrap: break-word; /* 确保子元素中的文本不会超出容器宽度 */
      word-break: break-word; /* 强制单词换行 */
      white-space: normal; /* 防止文本溢出 */
  }
  ul {
    list-style-position: inside;
  }
  li{
    list-style-type: disc;
  }
  img{
    border-radius: var(--primary-rounded);
    overflow: hidden;
    max-width: 100%;
  }
}
