@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button.scss';

:root {
  --primary-color: #c1dcdc;
  --dark-1-color: #1e1e1e;
  --dark-2-color: #535353;
  --dark-3-color: #737272;

  //rounded
  --primary-rounded: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-1-color);
}
h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-2-color);
}
h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-3-color);
}
p {
  font-size: 18px;
}
section {
  padding: 60px 10px;
}
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  header {
    height: 60px;
  }
  footer {
    margin-top: auto;
    background-color: var(--primary-color);
  }
}

